.cabecalho {
    text-align: center;

}

.cabecalho__titulo {
    font-weight: 600;
    color: var(--vinho);
    margin-top: 5em;
}

.cabecalho__titulo--texto {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    margin: 0.5em 0;
}

.cabecalho__texto {
    margin: 2em auto;
    padding: 0em 1em;
    font-size: 20px;
    font-weight: 400;
    width: 45%;
    color: var(--cinza-secundario);
}