.container__depoimentos {
    text-align: center;
    background: var(--gradiente-secundario);
    border-radius: 16px;
    margin: 0 auto;
    padding: 2em 1em;
    width: 90%;
}

.titulo__depoimentos {
    color: var(--vinho);
    font-weight: 600;
    font-size: 14px;
}

.depoimento {
    font-size: 36px;
    color: var(--preto);
    margin: 0.8em 0;
}

.nome__colaborador {
    color: var(--preto);
    margin: 0.5em 0;
}

.cargo {
    font-weight: 400;
    font-size: 14px;
    color: var(--cinza-secundario);
}